#root{
    background-color: rgb(248, 246, 246);
}

.book-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}


  .book-card {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    justify-content: center;
    align-items:center;
    background-color:#b8b8b8 ;
    
  }

  
  
  .book-card img {
    max-width: 80%;
    margin-bottom: 10px;
    
    
  }
  
  
  .book-title {
    min-width: 80%;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  
  .book-author {
    font-style: italic;
    color: #2e2d2d;
    margin-bottom: 10px;
    min-width: 80%;
    text-align: center;
    
    
  }
  
  
  .book-availability {
    font-weight: bold;
    min-width: 80%;
    text-align: center;
  }

  
  .book-details img {
    max-width: 80%;
    margin: 0 auto; 
    display: block; 
  }

  
  .book-link {
    text-decoration: none; 
    
  }

  .mainHeader{
    text-align: center;
    margin: 1.85%;
    border: 5px solid rgb(143, 143, 143);
    padding: 30px;
    border-radius: 10px;
    background-color: #cccccc;

  }

  .navigation-menu{
    border: 5px solid rgb(153, 153, 153);
    background-color: #cccccc;
    margin: 30px;
    border-radius: 10px;
  }

  .navbar{
    display: flex;
    justify-content:space-around;
    
  }

  .bar{
    margin-bottom: 10px;
  }

  .search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 95%;
    border: 5px solid rgb(153, 153, 153);
    background-color: #cccccc;
    border-radius: 10px;
  }
  
  .search-bar {
    text-align: center;
    width: 50%;
  }

  .bar{
    width: 50%;
  }

  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ccc;
    
  }
  
  .form-heading {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px; 
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .form-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    width: 100%; 
  }
  
  .form-message {
    margin-top: 15px;
  }

 